---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Items I Can't Leave Home Without</strong></h1>
<div class="gallery-card">
<div class="grid-photos">
<img src="/images/Headphones.jpeg" alt="Headphones picture"/>
<img src="/images/Wallet.jpeg" alt="Wallet picture"/>
<img src="/images/Keys.jpeg" alt= "keys picture">
<img src="images/iphone.jpeg" alt="Iphone picture">
</div>
</div>

