---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header class="site_header">
    {% include 'nav' %}
  </header>

  <main class="page_content">
    {{ content }}
  </main>

  <footer class="site_footer">
    <p> &copy; 2025 Drew Seabase - Stuff I Don't Leave Home Without</p>
  </footer>
</body>
</html>