<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href ="/headphones/" title="headphones"> Headphones</a></li>
      <li><a href ="/wallet/" title="wallet"> Wallet </a></li>
      <li><a href ="/keys/" title="keys"> Keys </a></li>
      <li><a href ="/iPhone/" title="iPhone"> iPhone </a></li>
    </ul>
  </nav>

<button class="menu-toggle" aria-label="Toggle Navigation">
   <ul>
   <li><a href="/" title="Go home"><i class="fa-solid fa-house"></a></i></li>
   <li><a href ="/headphones/" title="headphones"><i class="fa-solid fa-headphones"></a></i></li>
   <li><a href ="/wallet/" title="wallet"><i class="fa-solid fa-wallet"></a></i></li>
   <li><a href ="/keys/" title="keys"><i class="fa-solid fa-key"></a></i></li>
   <li><a href ="/iPhone/" title="iPhone"><i class="fa-solid fa-phone"></a></i></li>
   </ul>
</button>
  