<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href ="/headphones/" title="headphones"> Headphones</a></li>
      <li><a href ="/wallet/" title="wallet"> Wallet </a></li>
      <li><a href ="/keys/" title="keys"> Keys </a></li>
      <li><a href ="/iPhone/" title="iPhone"> iPhone </a></li>
    </ul>
  </nav>