body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #6ad4a3;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 510px;
    border-radius: 50px;
    background: #4c4e5a;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}
nav ul li a:hover {
    border-radius: 50px;
    background: linear-gradient(45deg, #ff9019 0%, #9b66cc 100%);
    color: black;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-top: 1rem;
    
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(90deg, #ff9019, #9b66cc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 800;
    }

footer
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  font-size: 15px;
  margin-top: 3rem;
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0,0,0,0.4);
  color: #2e2d2d;
}

img{
    width: 50%;
    height: auto;
    border-radius: 50px;
}
.gallery-card{
    max-width: 720px;
    margin: 2rem auto;
    padding: 1rem;
    background: linear-gradient(90deg, #ff9019, #9b66cc);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.8);
}

.grid-photos{display:grid; gap:12px; grid-template-columns: repeat(2,1fr);}

.grid-photos img
{
    width: 95%;
    height: auto;
    border-radius: 50px;
    border: 1px solid black;
    object-fit: 100%;
    display: block;
    transition: transform .2s ease, box-shadow .2s ease;
    
}
.grid-photos img:hover{
  transform: translateY(-2px) scale(1.02); 
  box-shadow: 0 10px 24px rgba(0,0,0,.25);
  outline: 3px solid rgb(54,50,50);      
  outline-offset: -3px;
}

.main-card{
    max-width: 400px;
    padding: 2rem;
    background: linear-gradient(90deg, #ff9019, #9b66cc);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(1,1,1,1);
    overflow: hidden;
}

.main-card img{
    
    width: 100%;
    border: 2px solid rgb(54, 50, 50);
    object-fit: 100%;
    transition: transform .2s ease, box-shadow .2s ease;
}

.main-card img:hover{
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 10px 24px rgba(0,0,0,0.25);
    outline: 3px solid rgb(54,50,50);
    outline-offset: -3px;
}

.page-two-col{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  margin: 2rem auto;
}

.page-two-col > .main-card,
.page-two-col > .aside{
  margin: 0;                
  flex: 0 1 400px;  
}

.aside{
    max-width: 500px;
    height: auto;
    margin: 2rem auto;
    padding: 2rem;
    background: linear-gradient(90deg, #ff9019, #9b66cc);
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(1.5,1.5,1.5,1.5);
    overflow: hidden;
    color: black;
}

.menu-toggle{
    display: none;
    background:#fafafa;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
}

@media (max-width: 1000px){
    nav ul {display:none;}
    nav ul.show{display: flex;}
    .menu-toggle{
        display:block; 
        margin: 40px auto 0 auto;
        width: 100%;
        max-width: 510px;
        border-radius: 50px;
        background: #4c4e5a;}
    
    .menu-toggle ul{
        display: flex;
        justify-content: center;
        gap: 3px;
        margin: 0;
        padding: 0;
    }

    .menu-toggle ul li {list-style-type: none; margin: 0;}

    .menu-toggle ul li i{
        display: inline-block;
        padding: 20px;
        color: #eae8ff;
        text-decoration: none;
        font-size: 1.2em;
    }

    .menu-toggle ul li i:hover{
        border-radius: 50px;
        background: linear-gradient(45deg,#ff9019 0%, #9b66cc 100%);
        color: black;
    }
}